#This Apache config file was created by Duplicator Installer on 2019-07-12 13:44:25.
#The original can be found in archived file with the name htaccess.orig

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mundodospets/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mundodospets/index.php [L]
</IfModule>
# END WordPress